@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("assets/img/green_felt.jpg");
  color: white;
  font-family: "Monoton", cursive;
}
.playingCard {
  width: 30%;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 3rem;
  border-radius: 20px;
  border: 2px solid red;
  box-shadow: 10px 10px 5px black;
  background: lightgray;
  height: 70vh;
  justify-content: space-between;
  color: black;
}
.topIcon {
  font-size: 5rem;
}

.middleNumber {
  font-size: 9rem;
}

.bottomIcon {
  font-size: 5rem;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.red {
  color: red;
}
.black {
  color: black;
}
button {
  margin-top: 10px;
}
a {
  color: white;
}
li {
  list-style-type: none;
  font-size: 2rem;
}
